:root, .theme-light, .theme-dark {
    --nav-font: 600 2rem "Lato", sans-serif;
    --nav-small: 400 1.2rem "Lato", sans-serif;
    --body-font: 1.3rem "Lato", sans-serif;
    --header-title: 2.2rem "Lato", sans-serif;
    --header-sub: 1.9rem "Lato", sans-serif;
    --h1-font: 1.9rem "Lato", sans-serif;
    --h2-font: 1.6rem "Lato", sans-serif;
    --h3-font: 1.5rem "Lato", sans-serif;
    --card-title: 3rem "Lato", sans-serif;
    --card-subtitle: 2rem "Lato", sans-serif;
    --card-body: 2rem "Lato", sans-serif;
    --card-list-item: 2rem "Lato", sans-serif;
}

:root {
    --margin-narrow: 0 8vw;
    --margin-wide: 0 12vw;
}